<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/bulma.min.css">
  <link rel="stylesheet" href="../public/main.css">
  <title>Iemanja</title>
</head>

<body>
  <div id="editor" class="half-screen"></div>
  <div id="renderer" class="half-screen"></div>

  <div id="tmp" style="display: none;"></div>
  <div id="error" class="notification is-danger hidden">
    <button id="close" class="delete"></button>
    <p id="error-msg">{{msg}}</p>
  </div>
  <script src="../src/renderer/browser.js"></script>
</body>

</html>