* {
  font-family: sans-serif;
}

body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.half-screen {
  width: 50%;
  height: 100vh;
}

.hidden {
  opacity: 0;
}

#renderer {
  display: flex;
  overflow: scroll;
}

#graph {
  width: 100%;
  margin: auto;
  padding:10px;
  height: auto;
}

#error {
  transition-duration: 0.2s;
  position: absolute;
  bottom: 0;
  right: 0px;
  margin: 10px;
  height: 150px;
  transition-duration: 0.4s;
}
#error-msg {
  text-overflow: ellipsis;
  max-height: -webkit-fill-available;
  overflow: scroll;
  white-space: pre-line;
}

/* This fixes bulma breaking stuff */

foreignObject > div {
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .half-screen {
    width: 100%;
    height: 50vh;
  }
}
